@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&family=Sofia+Sans+Condensed&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1250px;
}
.left-sidebar { 
    position: fixed;   
    height: 100vh;
    border-right: 1px solid #2F3336;
    width: 274px;
}
.left-sidebar .logo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.left-sidebar .logo:hover {
    background: rgba(223, 223, 223, 0.1);
    
}
.left-sidebar .logo img {
    width: 26px;
}
/*-----------items del slide----------*/
.sidebar-content {
    text-decoration: none;
}
.sidebar-content img {
    height: 26.25px;
    margin-right: 20px;
}
.slide-items {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
}
.slide-items .item {
    transition: background-color 0.3s;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}
.slide-items .item:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}
#more-options {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    margin-bottom: 5px;
}
#more-options .options-content {
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}
#more-options .options-content:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

/* =============== Menu de opciones ============ */

#floating-window {
    z-index: 1;
    display: none;
    position: absolute;
    top: 236px;
    left: 0px;
}

.win {
    width: 320px;
    border-radius: 10px ;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 6px rgb(204, 203, 203);
    list-style: none;
    display: fixed;
}

.win a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: inherit;
}

.win .winsup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.win .winsup img {
    margin-right: 24px;   
}

.win .winsup li {
    display: flex;
    align-items: center;
}

.win .winsup .conectar li {
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

.win .winsup .monetizar li {
    padding: 15px;
}

.conectar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.monetizar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.border {
    width: 300px;
    position: relative;
    left: 20px;
    top: 5px;
    border: 1px solid rgba(223, 223, 223, 0.1);
}

/*======= parte de abajo =====*/

.dropdown-content {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}

.winsdowns li {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;

}

.winsdowns li span {
    color: white;
    font-weight: bold;
}

.winsdowns #btn1 {
    cursor: pointer;
}

.winsdowns #btn2 {
    cursor: pointer;
}

.winsdowns #btn3 {
    cursor: pointer;
}

#btn1:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn2:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn3:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.dropdown-content {
    cursor: pointer;
    padding: 15px;
}

.dropdown-content a {
    display: flex;
}

.dropdown-content img {
    width: 20px ;
    margin-right: 10px;
}

.dropdown-content:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.dropdown-content3 {
    display: none;
    cursor: pointer;
}

.dropdown-content3 a {
    display: flex;
    padding: 12px;
}

.dropdown-content3 a img {
    width: 20px;
    margin-right: 10px;
}

.dropdown-content3 a:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

/* ==========================*/
.tweet-button {
    background-color: #1D9BF0;
    color: white;
    border: 0px solid #fff;
    border-radius: 100px;
    padding: 0 100px;
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    width: 230px;
    height: 51px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.tweet-button span {
    position: relative;
    text-align: center;
    right: 15px;
}
.tweet-button:hover {
    background-color: #198dda ;
}
/*=============================*/
.account {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 25px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    padding: 12px 12px 12px 12px;
}
.account:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}
.account .acc-logo img {
    width: 40px;
    border-radius: 100%;
}
.account .acc-text {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}
.account .acc-text span {
    color: #fff;
    font-weight: bold;
}
.account .acc-points {
    margin-left: 50px;
}
.account .acc-points img {
    width: 20px;
}

/* -------------------Ventana de user-------------------- */

#userwindows {
    display: none;
    position: absolute;
    top: 440px;
    left: 110px;
}

.userwins {
    width: 320px;
    border-radius: 10px ;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 6px rgb(204, 203, 203);
    list-style: none;
    display: fixed;
}

.userwins .usersup img {
    width: 40px;
    border-radius: 50%;
}

.userwins .usersup .user {
    display: flex;
    align-items: center;
    padding: 20px 15px 15px 15px;
}

.userwins .usersup .user .username {
    font-size: 150x;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.userwins .usersup .user .usercheck {
    margin-left: auto;
}

.userwins .usersup .user .usercheck img {
    width: 15px;
}


.border {
    top: 5px;
    border: 1px solid rgba(223, 223, 223, 0.1);
}



/*======= parte de abajo =====*/

.user-down {
    margin-top: 10px;
}

.userdown-content li {
    padding: 10px 15px 10px 15px;
    color: white;
}

.user-down li span {
    color: white;
    font-weight: bold;
}

.user-down .usr1 {
    cursor: pointer;
}

.user-down .usr2 {
    cursor: pointer;
}

.user-down .usr3 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.usr1:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
.usr2:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
.usr3:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

/*----Inicio Contenido Principal----*/
.content-main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    color: white;
    border-right: 1px solid #2F3336;
}
/*main_superior*/
.main_superior {
    height: 100%;
    display: flex;
    padding: 10px 20px;
}
.arrow-items {
    transition: background-color 0.3s;
    border-radius: 100px;
    cursor: pointer;
    padding: 15px 0px;
}
.arrow-items .arrow {
    transition: background-color 0.3s;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 100px;
}
.arrow-items .arrow:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}
.caja_buscar {
    margin-top: 0px;
    padding: 0px 30px;
    align-items: center;
    justify-content: center;
}
.caja_buscar input {
    width: 450px;
    padding: 15px;
    border: none;
    background-color: #000000;
    color: #fff;
    border: 2px solid #2F3336;
    border-radius: 50px;
    right: 10px;
    text-align: center;
    position: relative;
    font-size: 15px;
}
.main_contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 600px;
}
.texto {
    display: flex;
    text-align: left;
    justify-content: left;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}
.comunidad_grupo {
    display: flex;
    background-color: black;
    width: 600px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.texto_comunidad_01 {
    font-size: 20px;
    color: white;
}
.img_comunidad {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}
.mostrar_mas {
    padding: 20px;
    text-decoration: none;
    color: rgb(29, 155, 240);
    text-decoration: none;
}
.mostrar_mas:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*===========Rigth============*/
.right-sidebar {
    background-color: black;
    right: 0;
    padding: 10px;
    color: #fff; 
    height: 100vh;
    position: absolute;
}
.box {
    position: fixed;
    z-index: 10;
    background-color: #000;
    width: 400px;
    margin: 0 auto;
    right: -40px;
    top: -10px;
    padding: 10px;
}
.search-box {
    margin-top: 10px;
}
.search-box input {
    width: 310px;
    padding: 15px;
    border: none;
    background-color: #252525;
    color: #fff;
    border-radius: 50px;
    right: 10px;
    position: relative;
    font-size: 15px;
}
.subscribe-box{
    display:flex;
    position: relative;
    right: 30px;
    padding: 10px 20px;
    flex-direction:column;
    justify-content: center;
    align-items: right;
    margin-bottom: 20px;
    background-color: #16181c;
    border-radius: 10px;
    margin-top: 80px;
    height: 130px;
    width: 300px;
}
.whats-happening-box{
    position: relative;
    right: 30px;
    padding: 10px;
    flex-direction:column;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #16181c;
    border-radius: 10px;
    height: 405px;
    width: 320px;
}
.whats-happening-box h2 {
    position: relative;
    left: 10px;
}
.titulos {
    position: relative;
    top: 30px;
    left: 10px;
}
.titulos h4 {
    font-size: 13px;
    color: #71767b;
    margin-bottom: 10px;
}
.titulos span {
    font-size: 15px;
    font-weight: 900;
}
.titulos-img {
    width: 20px;
    height: 20px;
}
.titulos-img img {
    position: relative;
    left: 250px;
    top: -45px;
    width: 100%;
    height: 100%;
}
.titulos:hover {
    background-color: rgba(223, 223, 223, 0.1);
    width: 300px;
    border-radius: 5px;
}
.btn-mostrar {
    position: relative;
    top: 20px;
    left: 10px;
}
.mostrar-mas{
    padding: 10px;
    display: flex;
    position: relative;
    top: 10px;
    left: -20px;
    height: 30px;
    width: 320px;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    transition: all 100ms ease;
}
.mostrar-mas a {
    position: relative;
    left: 10px;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}
.mostrar-mas span {
    color: #1b7dbe;
    font-size: 15px;
    position: relative;
}
.mostrar-mas:hover{
    background-color: #1d1f23;
    border-radius: 10px;
}
.follow-box {
    position: relative;
    background-color: #16181c;
    border-radius: 10px;
    right: 30px;
    padding: 10px 20px;
    flex-direction:column;
    justify-content: center;
    align-items: right;
    height: 375px;
    width: 300px;
}
.subscribe-box h2, .whats-happening-box h2, .follow-box h2 {
    font-size: 20px;
}
.subscribe-box h6 {
    font-size: 14px;
    margin-top: 10px;
    color: white;
}
.follow-box button {
    background-color: #16181c;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    width: 40%;
    border-radius: 50px;
    cursor: pointer;
}
.whats-happening-box a:hover{
    background-color: #1d1f23;
}
.subscribe-box button{
    background-color: #1D9BF0;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    width: 40%;
    border-radius: 50px;
    cursor: pointer;
}
.follow-box button {
    width: 90px;
    background-color: white;
    color: black;
    border: none;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}
.follow-box button:hover {
    background-color: rgba(255, 254, 254, 0.719);
}
.seg{
    height: 80px;
    top: 10px;
    left: -20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px 20px;
    width: 300px;
}
.seg:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 5px;
}
.seg .seg1-img {
    width: 40px;
    height: 40px;
}

.seg .seg1-img img {
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.seg .seg1-text {
    display: flex;
    position: relative;
    right: -10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.seg .seg1-text span {
    width: 125px;
    color: #fff;
    font-weight: bold;
}

/* */
.seg .seg2-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.seg .seg2-text {
    display: flex;
    position: relative;
    right: -10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.seg .seg2-text span {
    width: 125px;
    color: #fff;
    font-weight: bold;
}

/**/
.seg .seg3-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.seg .seg3-text {
    display: flex;
    position: relative;
    right: -10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.seg .seg3-text span {
    width: 125px;
    color: #fff;
    font-weight: bold;
}