@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&family=Sofia+Sans+Condensed&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1250px;
}


.left-sidebar { 
    position: fixed;   
    height: 100vh;
    border-right: 1px solid #2F3336;
    width: 274px;
}

.left-sidebar .logo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.left-sidebar .logo:hover {
    background: rgba(223, 223, 223, 0.1);
    
}

.left-sidebar .logo img {
    width: 26px;
}

/*-----------items del slide----------*/

.sidebar-content {
    text-decoration: none;
}

.sidebar-content img {
    height: 26.25px;
    margin-right: 20px;
}

.slide-items {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
}

.slide-items .item {
    transition: background-color 0.3s;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}

.slide-items .item:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

#more-options {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    margin-bottom: 5px;
}

#more-options .options-content {
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}

#more-options .options-content:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

/* =============== Menu de opciones ============ */

#floating-window {
    z-index: 1;
    display: none;
    position: absolute;
    top: 236px;
    left: 0px;
}

.win {
    width: 320px;
    border-radius: 10px ;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 6px rgb(204, 203, 203);
    list-style: none;
    display: fixed;
}

.win a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: inherit;
}

.win .winsup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.win .winsup img {
    margin-right: 24px;   
}

.win .winsup li {
    display: flex;
    align-items: center;
}

.win .winsup .conectar li {
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

.win .winsup .monetizar li {
    padding: 15px;
}

.conectar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.monetizar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.border {
    width: 300px;
    position: relative;
    left: 20px;
    top: 5px;
    border: 1px solid rgba(223, 223, 223, 0.1);
}

/*======= parte de abajo =====*/

.dropdown-content {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}

.winsdowns li {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;

}

.winsdowns li span {
    color: white;
    font-weight: bold;
}

.winsdowns #btn1 {
    cursor: pointer;
}

.winsdowns #btn2 {
    cursor: pointer;
}

.winsdowns #btn3 {
    cursor: pointer;
}

#btn1:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn2:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn3:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.dropdown-content {
    cursor: pointer;
    padding: 15px;
}

.dropdown-content a {
    display: flex;
}

.dropdown-content img {
    width: 20px ;
    margin-right: 10px;
}

.dropdown-content:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.dropdown-content3 {
    display: none;
    cursor: pointer;
}

.dropdown-content3 a {
    display: flex;
    padding: 12px;
}

.dropdown-content3 a img {
    width: 20px;
    margin-right: 10px;
}

.dropdown-content3 a:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

/* ==========================*/

.tweet-button {
    background-color: #1D9BF0;
    color: white;
    border: 0px solid #fff;
    border-radius: 100px;
    padding: 0 100px;
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    width: 230px;
    height: 51px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tweet-button span {
    position: relative;
    text-align: center;
    right: 15px;
}

.tweet-button:hover {
    background-color: #198dda ;
}

/*=============================*/


.account {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 25px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    padding: 12px 12px 12px 12px;
}

.account:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

.account .acc-logo img {
    width: 40px;
    border-radius: 100%;
}

.account .acc-text {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.account .acc-text span {
    color: #fff;
    font-weight: bold;
}

.account .acc-points {
    margin-left: 50px;
}

.account .acc-points img {
    width: 20px;
}

/* -------------------Ventana de user-------------------- */

#userwindows {
    display: none;
    position: absolute;
    top: 440px;
    left: 110px;
}

.userwins {
    width: 320px;
    border-radius: 10px ;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 6px rgb(204, 203, 203);
    list-style: none;
    display: fixed;
}

.userwins .usersup img {
    width: 40px;
    border-radius: 50%;
}

.userwins .usersup .user {
    display: flex;
    align-items: center;
    padding: 20px 15px 15px 15px;
}

.userwins .usersup .user .username {
    font-size: 150x;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.userwins .usersup .user .usercheck {
    margin-left: auto;
}

.userwins .usersup .user .usercheck img {
    width: 18px;
}


.border {
    top: 5px;
    border: 1px solid rgba(223, 223, 223, 0.1);
}



/*======= parte de abajo =====*/

.user-down {
    margin-top: 10px;
}

.userdown-content li {
    padding: 10px 15px 10px 15px;
    color: white;
}

.user-down li span {
    color: white;
    font-weight: bold;
}

.user-down .usr1 {
    cursor: pointer;
}

.user-down .usr2 {
    cursor: pointer;
}

.user-down .usr3 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.usr1:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
.usr2:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
.usr3:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

/*Inicio Contenido Main*/
  
.menu {
    display: flexbox;
    background-color: black; /* Cambiando el fondo a negro */
    grid-column: 2/3;
    grid-row: 1;
    margin: 0px;
    position: sticky;
    
    border: 1px rgb(31,33,35,255) solid ;
    
  }
  
  .ul {
    display: flex;
    
    align-items: end; 
    list-style-type: none;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 0px 0px;
  }
  
  .li {
    
    width: 100%;
    
    margin-right: 0px;
    font-size: 11pt;
    
  }

  
   
   .menu a {
    color: #555; /* Cambiando el color del texto a blanco */
    text-align: center;
    text-decoration: none;
    padding: 20px 25px 20px 25px;
    
    border-radius: 0px;

  } 
  
  .ul  a:hover{
    background-color: #202327;
  }
  .menu a:hover {
    background-color: #202327; /* Cambiando el color de fondo en hover */
    margin: 0px 0px 0px; 
    border: 20px;
  }

  .abajoazul{
    position: relative;
    background-color: #1D9BF0;
    box-shadow: #1b7dbe;
    height: 4px;
    width: 17%;
    left: 79%;
    border-radius: 50px;
}
  
  .menu .ul .active {
    
    color: #fff;
    
    
  }
  /*Barra de busqueda */
  .inpBuscar{
    
    border: #000;
    text-align: left;
    border-radius: 25px;
    background-color: #202327;
    color:  #676b70;
    width: 78%;
    height: 40px;
    margin: 5px 20px;
    flex: 1;
    border: none;
    padding: 0 40px;
    outline: none;
  }

  /* ---------- Efecto cambio de color input --------- */

/* Estilos iniciales */
#elementoClicable {
    background: #202327;
    border: 1px solid #000; 
    cursor: pointer; 
}

/* Estilos cuando se hace clic */
#elementoClicable.clickeado {
    background-color: #000000;
    border-color: #1D9BF0; 
}
.iconBuscar{
    position: relative;
    left: -10px;
    bottom: 40px;
    width: 25px;

}

.btnTuerca {
    position: relative;
    left: 600px;
    bottom: 40px;
    width: 35px;
}

  /****************/
  .tendencias{
    color: #555;
    grid-column: 2/3;
    text-align: left;
    text-decoration: none;
    padding: 5px 20px;
    
    margin: 0px ;
    border: 1px rgb(31,33,35,255) solid;
  }
  /*Estilos Div de Videos para ti */ 
  .videosParaTi{
    padding:20px 10px;
    grid-column: 2/3;
    border: 1px rgb(31,33,35,255) solid ;
    
  }
  .v{
    
    height: 207px;
    width: 140px;
    border: 1px #676b70 solid ;
    border-radius: 5%;
    margin: 17px 4px 0px 4px;
    
  }
  .lbVideos{
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
  }
  .lbTipo{
    color: #555;
    font-size: 11px;
  }
  .lbTendencia{
    color: #fff;
    font-size: 15px;
  }


  /* parte media, tendencias */
  .tendencias a{
    
    text-align: left;
    text-decoration: none;
    position: relative;
    z-index: 1;
    
    ;
  }
  .t1 :hover{
    background-color: #202327;
    
    
    
  }
 
  .t1 {
    position: relative;
    width: 600px;
    height: 75px;
    left: -20px;
  }
  .deportes a,.series a{
    padding: 5px 0px 10px 0px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  /* tendencias 2*/
  .tendencias2{
    padding: 20px 20px;
    grid-column: 2/3;
    border: 1px rgb(31,33,35,255) solid ;
  }





  /*Modulo derecho a quien seguir*/
  .btn-mostrar {
    position: relative;
    top: 20px;
    left: 10px;
}

.mostrar-mas{
    padding: 10px;
    display: flex;
    position: relative;
    top: 10px;
    left: -20px;
    height: 30px;
    width: 320px;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    transition: all 100ms ease;
}

.mostrar-mas a {
    position: relative;
    left: 10px;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.mostrar-mas span {
    color: #1b7dbe;
    font-size: 15px;
    position: relative;
}

.mostrar-mas:hover{
    background-color: #1d1f23;
    border-radius: 10px;
}

.follow-box {
    position: relative;
    display: grid;
    grid-column: 3/5;
    grid-row: 1/4;
    background-color: #16181c;
    border-radius: 10px;
    right: 30px;
    padding: 25px 40px;
    margin: 10px 60px;
    flex-direction:column;
    justify-content: center;
    align-items: right;
    height: 375px;
    width: 300px;
}

.follow-box h2{
  color: #fff;
  padding: 5px 5px;
}



.follow-box button {
    background-color: white;
    color: black;
    border: none;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.follow-box button:hover {
    background-color: rgba(255, 254, 254, 0.719);
}


.seg{
    height: 80px;
    top: 10px;
    left: -20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px 20px;
    width: 300px;
}

.seg:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 5px;
}

.seg .seg1-img {
    width: 40px;
    height: 40px;
}

.seg .seg1-img img {
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.seg .seg1-text {
    display: flex;
    position: relative;
    right: -10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.seg .seg1-text span {
    width: 125px;
    color: #fff;
    font-weight: bold;
}

/* */
.seg .seg2-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.seg .seg2-text {
    display: flex;
    position: relative;
    right: -10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.seg .seg2-text span {
    width: 125px;
    color: #fff;
    font-weight: bold;
}

/**/
.seg .seg3-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.seg .seg3-text {
    display: flex;
    position: relative;
    right: -10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.seg .seg3-text span {
    width: 125px;
    color: #fff;
    font-weight: bold;
}

/* icono 3 puntos*/

.titulos-img {
  position: relative;
  right: -600px;
  margin: -40px 10px;
  width: 20px;
  height: 20px;
  
}
.titulos-img:hover{
  border: 1px rgb(31,33,35,255) solid ;
  border-radius: 10%;
  color: #198dda;
}