body {
    background-color: rgb(36, 45, 52);
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.login_caja {
    background-color: black;
    padding: 0px 0px;
    width: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
}
.login_superior {
    height: 100%;
    display: flex;
    padding: 5px;
}
.boton_circular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s;
}
.boton_circular:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.paso1 {
    font-size: 10px;
    width: 195%;
    display: flex;
    color: aliceblue;
    justify-content: left;
    align-items: left;
}
.crearcuentatexto {
    display: flex;
    color: white;
    padding-left: 85px;
    justify-content: left;
    align-items: center;
    font-weight: 700;
}

.Nombre {
    width: 77%;
    height: 62px;
    text-align: left;
    padding-left: 10px;
    background: black;
    border: 1px solid rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.telefonoEmail {
    width: 77%;
    height: 62px;
    text-align: left;
    padding-left: 10px;
    background: black;
    border: 1px solid rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.fechanacimiento {
    width: 77%;
    height: 62px;
    text-align: left;
    padding-left: 10px;
    background: black;
    border: 1px solid rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    margin-bottom: 45px;
    border-radius: 5px;
}

input {
    border: 2px solid rgb(50, 50, 50);
    padding: 5px 10px;
    color: white;
    transition: border-color 0.3s;
}
input::placeholder {
    position: absolute;
}
input:focus {
    border-color: #1D9BF0;
    outline: none;
}
input:focus::placeholder {
    color: #1D9BF0;
    top: 5px;
    left: 10px;
    font-size: 13px;
    transition: color 0.3s, top 0.3s, left 0.3s, font-size 0.3s;
}
.custom-placeholder_01 {
    position: absolute;
    font-size: 13px;
    top: 21.9%;
    left: 13.8%;
    transform: translateY(-50%);
    color: #726d68;
    pointer-events: none; 
    transition: opacity 0s, color 0.3s;
    opacity: 0;
}
.custom-placeholder_02 {
    position: absolute;
    font-size: 13px;
    top: 36%;
    left: 13.8%;
    transform: translateY(-50%);
    color: #726d68;
    pointer-events: none; 
    transition: opacity 0s, color 0.3s;
    opacity: 0;
}
.custom-placeholder_03 {
    position: absolute;
    font-size: 13px;
    top: 50.3%;
    left: 13.8%;
    transform: translateY(-50%);
    color: #726d68;
    pointer-events: none; 
    transition: opacity 0s, color 0.3s;
    opacity: 0;
}
.login_botones_crearcuenta input:not(:placeholder-shown) + .custom-placeholder_01,
.login_botones_crearcuenta input:not(:placeholder-shown) + .custom-placeholder_02,
.login_botones_crearcuenta input:not(:placeholder-shown) + .custom-placeholder_03 {
    opacity: 1;
}
.login_botones_crearcuenta input:focus + .custom-placeholder_01,
.login_botones_crearcuenta input:focus + .custom-placeholder_02,
.login_botones_crearcuenta input:focus + .custom-placeholder_03 {
    color: #1D9BF0;
}

a{
    text-decoration: none;
}

.referencia:hover{
    text-decoration: underline;
}

.Condiciones {
    color: rgb(113, 118, 123);
    word-wrap: break-word;
    display: flex;
    text-align: left;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 80px;
    margin-right: 97px;
    padding-bottom: 20px;
}

.login_botones {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    align-items: center;
}
.boton_siguiente {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d9bf0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.boton_siguiente b {
    display: inline-block;
}

.boton_siguiente:hover {
    background-color: #1a8cd8;
}


.login_botones_crearcuenta {
    display: flex;
    flex-direction: column;
    padding: 8px 20px 5px 20px;
    align-items: center;
}

.login_botones_inicio_sesion {
    display: flex;
    padding: 8px 20px 5px 20px;
    align-items: center;
    border-radius: 5px;
    padding-bottom: 80px;
}
