body {
    background-color: rgb(36, 45, 52);
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.login_caja {
    background-color: black;
    padding: 0px 0px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
}
.login_superior {
    height: 100%;
    display: flex;
    padding: 5px;
}
.boton_circular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s;
}
.boton_circular:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.imagen {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_texto {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0px 0px 0px 75px;
}
.login_botones_inicio_sesion {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    align-items: center;
}
.boton_google {
    width: 65%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}
.boton_google:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}
.boton_apple {
    width: 65%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    transition: background-color 0.3s;
}
.boton_apple:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}
.login_division {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_division hr {
    border: 0px;
    height: 1px;
    width: 40%;
    background: rgb(70, 70, 70);
    margin: 0px 10px;
}
.login_division h1 {
    color: rgb(120, 120, 120);
    font-size: 15px;
}
.login_caja_de_texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.caja_de_texto {
    width: 60%;
    height: 50px;
    text-align: left;
    background: black;
    border: 2px solid rgb(50, 50, 50);
    color: white;
    font-size: 15px;
    transition: border-color 0.3s;
}
input {
    border: 2px solid rgb(50, 50, 50);
    padding: 5px 10px;
    color: white;
    transition: border-color 0.3s;
}
input::placeholder {
    position: absolute;
}
input:focus {
    border-color: #1D9BF0;
    outline: none;
}
input:focus::placeholder {
    color: #1D9BF0;
    top: 5px;
    left: 10px;
    font-size: 13px;
    transition: color 0.3s, top 0.3s, left 0.3s, font-size 0.3s;
}
.custom-placeholder {
    position: absolute;
    font-size: 13px;
    top: 48.4%;
    left: 21%;
    transform: translateY(-50%);
    color: #726d68;
    pointer-events: none; 
    transition: opacity 0s, color 0.3s;
    opacity: 0;
}
.login_caja_de_texto input:not(:placeholder-shown) + .custom-placeholder {
    opacity: 1;
}
.login_caja_de_texto input:focus + .custom-placeholder {
    color: #1D9BF0;
}
.login_botones {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
    align-items: center;
}
.boton_siguiente {
    width: 65%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.boton_siguiente:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}
.boton_contraseña {
    width: 65%;
    height: 45px;
    border: 2px solid rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.boton_contraseña:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
.login_registro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(80, 80, 80);
    width: 60%;
    padding: 0px 20px 20px 45px;
    margin-bottom: 60px;
}
.registro {
    color: rgb(29, 155, 240);
    text-decoration: none;
}
.registro:hover {
    text-decoration: underline;
    cursor: pointer;
}