<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&family=Sofia+Sans+Condensed&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1250px;
}


.left-sidebar { 
    position: fixed;   
    height: 100vh;
    border-right: 1px solid #2F3336;
    width: 274px;
}

.left-sidebar .logo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.left-sidebar .logo:hover {
    background: rgba(223, 223, 223, 0.1);
    
}

.left-sidebar .logo img {
    width: 26px;
}

/*-----------items del slide----------*/

.sidebar-content {
    text-decoration: none;
}

.sidebar-content img {
    height: 26.25px;
    margin-right: 20px;
}

.slide-items {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
}

.slide-items .item {
    transition: background-color 0.3s;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}

.slide-items .item:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

#more-options {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    margin-bottom: 5px;
}

#more-options .options-content {
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}

#more-options .options-content:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}





/* =============== Menu de opciones ============ */
#floating-window {
    display: none;
    position: absolute;
    top: 230px;
    left: 0;
    /* Ajusta las coordenadas de arriba y a la izquierda según sea necesario */
}

.win {
    width: 350px;
    border-radius: 10px ;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 6px rgb(204, 203, 203);
    list-style: none;
    display: fixed;
}

.win a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: inherit;
}

.win .winsup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.win .winsup img {
    margin-right: 24px;   
}

.win .winsup li {
    display: flex;
    align-items: center;
}

.win .winsup .conectar li {
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

.win .winsup .monetizar li {
    padding: 15px;
}

.conectar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.monetizar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.border {
    width: 300px;
    position: relative;
    left: 20px;
    top: 5px;
    border: 1px solid rgba(223, 223, 223, 0.1);
}

/*======= parte de abajo =====*/

.dropdown-content {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}

.winsdowns li {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;

}

.winsdowns li span {
    color: white;
    font-weight: bold;
}

.winsdowns #btn1 {
    cursor: pointer;
}

.winsdowns #btn2 {
    cursor: pointer;
}

.winsdowns #btn3 {
    cursor: pointer;
}

#btn1:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn2:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn3:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.dropdown-content {
    cursor: pointer;
    padding: 15px;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
}

.dropdown-content:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

/* ==========================*/

.tweet-button {
    background-color: #1D9BF0;
    color: white;
    border: 0px solid #fff;
    border-radius: 100px;
    padding: 0 100px;
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    width: 230px;
    height: 51px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tweet-button span {
    position: relative;
    text-align: center;
    right: 15px;
}

.tweet-button:hover {
    background-color: #198dda ;
}

/*=============================*/


.account {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 25px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    padding: 12px 12px 12px 12px;
}

.account:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

.account .acc-logo img {
    width: 40px;
    border-radius: 100%;
}

.account .acc-text {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.account .acc-text span {
    color: #fff;
    font-weight: bold;
}

.account .acc-points {
    margin-left: 50px;
}

.account .acc-points img {
    width: 20px;
=======
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&family=Sofia+Sans+Condensed&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1250px;
}


.left-sidebar { 
    position: fixed;   
    height: 100vh;
    border-right: 1px solid #2F3336;
    width: 274px;
}

.left-sidebar .logo {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.left-sidebar .logo:hover {
    background: rgba(223, 223, 223, 0.1);
    
}

.left-sidebar .logo img {
    width: 26px;
}

/*-----------items del slide----------*/

.sidebar-content {
    text-decoration: none;
}

.sidebar-content img {
    height: 26.25px;
    margin-right: 20px;
}

.slide-items {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
}

.slide-items .item {
    transition: background-color 0.3s;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}

.slide-items .item:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

#more-options {
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 100px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    margin-bottom: 5px;
}

#more-options .options-content {
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    padding: 12px;
    border-radius: 100px;
}

#more-options .options-content:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}





/* =============== Menu de opciones ============ */
#floating-window {
    display: none;
    position: absolute;
    top: 230px;
    left: 0;
    /* Ajusta las coordenadas de arriba y a la izquierda según sea necesario */
}

.win {
    width: 350px;
    border-radius: 10px ;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 6px rgb(204, 203, 203);
    list-style: none;
    display: fixed;
}

.win a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: inherit;
}

.win .winsup {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.win .winsup img {
    margin-right: 24px;   
}

.win .winsup li {
    display: flex;
    align-items: center;
}

.win .winsup .conectar li {
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

.win .winsup .monetizar li {
    padding: 15px;
}

.conectar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.monetizar li:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.border {
    width: 300px;
    position: relative;
    left: 20px;
    top: 5px;
    border: 1px solid rgba(223, 223, 223, 0.1);
}

/*======= parte de abajo =====*/

.dropdown-content {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}

.winsdowns li {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;

}

.winsdowns li span {
    color: white;
    font-weight: bold;
}

.winsdowns #btn1 {
    cursor: pointer;
}

.winsdowns #btn2 {
    cursor: pointer;
}

.winsdowns #btn3 {
    cursor: pointer;
}

#btn1:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn2:hover {
    background-color: rgba(223, 223, 223, 0.1);
}
#btn3:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

.dropdown-content {
    cursor: pointer;
    padding: 15px;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
}

.dropdown-content:hover {
    background-color: rgba(223, 223, 223, 0.1);
}

/* ==========================*/

.tweet-button {
    background-color: #1D9BF0;
    color: white;
    border: 0px solid #fff;
    border-radius: 100px;
    padding: 0 100px;
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    width: 230px;
    height: 51px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tweet-button span {
    position: relative;
    text-align: center;
    right: 15px;
}

.tweet-button:hover {
    background-color: #198dda ;
}

/*=============================*/


.account {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 25px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    padding: 12px 12px 12px 12px;
}

.account:hover {
    background: rgba(223, 223, 223, 0.1);
    border-radius: 100px;
}

.account .acc-logo img {
    width: 40px;
    border-radius: 100%;
}

.account .acc-text {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    color: rgb(102, 102, 102);
}

.account .acc-text span {
    color: #fff;
    font-weight: bold;
}

.account .acc-points {
    margin-left: 50px;
}

.account .acc-points img {
    width: 20px;
>>>>>>> 22ed254a3573bd198870c3d771b559f4deee8160
}